* {
	font-family: 'Nanum Gothic', sans-serif;
}
body {
	margin:0;
	display: flex;
	width: 100%;
	font-size: 20px;
	flex-direction: column;
}

.menu {
	display: flex;
	width: 90%;
	height: 70px;
	justify-content: flex-end;
	background-color: white;
}

.menu ul {
	list-style: none;
}

.menu a{
	text-decoration: none;
	color: #969696;
}

.portada {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 400px;
	background-color: #00a9da;
}

.contenedor {
	width: 80%;
	height: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.iz{
	display: flex;
	height: 400px;
	flex-direction: column;
	justify-content: center;
	color: white;
}

.iz a{
	width: 87px;
	padding:10px;
	border-radius: 8px;
	margin-left: 20px;
	text-decoration: none;
	background-color: #4a4a4a;
	box-shadow: 0 3px grey;
	/*background: linear-gradient(to left,#7b7a7a, #292929);*/
	color:white;
	align-items: center;
}

.contenedor img{
	display: flex;
	width: 499px;
	height: 238px;
	padding-top: 162px;
	align-items: flex-end;
}

.proyectos {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
	flex-direction: column;
	background-color: #dedddd;
	padding-bottom: 40px;
}

.proyectos h2 {
	display: flex;
	width: 90%;
	font-size: 50px;
	justify-content: center;
	color: #4a4a4a;
	margin-top: 20px;
	margin-bottom: 0px;
}

.proyectos hr {
	display: flex;
	width: 80%;
	height: 1px;
	background-color: #00a9da;
	border: none;
	margin-bottom: 40px;
}

.catalogo {
	display: flex;
	width: 80%;
	justify-content: center;
}

.arti {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 30%;
	background-color: #00a9da;
}

.arti img{
	width: 80%;
}

.arti h3 {
	width: 90%;
	margin-top: 30px;
	margin-bottom: 0;
}

.arti hr {
	background-color: black;
	border:none;
	height: 1px;
	width: 90%;
	margin-bottom: 10px;
}

.arti p{
	width: 90%;
	margin-top: 0;
}

.footer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	height: 260px;
}

.izquierda {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.izquierda h2{
	color: #00a9da;
	margin:0;
	font-size: 43px;
}

.izquierda p{
	color: grey;
	margin:0;
}

.derecha {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.derecha h2{
	color: #00a9da;
	margin:0;
}

.iconos{
	display: flex;
	flex-direction: column;

}

.ico{
	font-size: 60px;
	color: #00a9da;
	margin: 5px;
}

.centro {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centro h2{
	color: #00a9da;
	margin:0;
	margin-bottom: 10px;
}

.ti {
	color: #4a4a4a;
	margin:0; 
}

.sp {
	color: grey;
	margin-top: 0;
	margin-bottom: 10px;
}