body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.portada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(to left, #63e0f6, #283eb2);
    overflow: hidden;
}

.barra {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra figure {
    margin-left: 0;
}

.logo img{
    width: 200px;
}

.menu {
    font-size: 20px;
    position: relative;
    z-index: 10;
}

.menu ul {
    display: inline-block;
    padding-inline-start: 20px;
}

.menu li {
	display: inline-block;
}

.menu a{
	color: white;
    text-decoration: none;
    transition: .5s;
}

.hambur {
    display: none;
}

.contenedor {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding-bottom: 10px;
}

.izq h1{
    color: white;
    font-size: 70px;
    margin: 0;
    position: relative;
    z-index: 10;
}

.izq p {
    color: rgb(192, 192, 192);
    font-size: 40px;
    margin: 0;
    position: relative;
    z-index: 10;
}

.contac {
    transition: 0.5s;
    transform: scale(0);
    position: relative;
    z-index: 10;
}

.icon {
    color: white;
    background: rgb(65, 72, 107);
    border-radius: 50%;
    padding: 10px;
    height: 30px;
    width: 30px !important;
    position: relative;
    z-index: 10;
}

.contac.si {
    animation-delay: 2s;
    transform: scale(1);
}

.icon:hover {
    transform: scale(1.2);
    background: rgb(36, 40, 59);
}

.der-imag {
    width: 420px;
    animation-name: flotar;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    position: relative;
    z-index: 10;
}

.der-imag.no {
    opacity: 0;
}

canvas {
    position: absolute;
    top: 0;
}

.yo {
    border-radius: 50%;
    width: 300px;
    position: absolute;
    top: 150px;
    left: 63%;
    border: 10px solid #ffffff87;
    box-shadow: 0 0 10px grey;
    opacity: 0;
    transition: 0.5s;
    z-index: 10;
}

.yo.activa {
    opacity: 1;
}

.degrade {
    display: block;
    border-bottom: 120px solid white; 
    border-left: 100vw solid transparent;
}

.menur {
    background: rgba(54, 90, 194, .8);
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 20;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    align-items: center;
    transition: .3s;
}

.menur.active {
    left: 0;
}

.menur ul {
    flex: 1;
    padding: 0;
}

.menur li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
    text-align: center;
}

.menur a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.menur li:first-child {
    border-top: 1px solid white;
}

.ambos {
    width: 100%;
    margin-bottom: 10px;
}

.portafolio {
    padding: 30px 0; 
}

.todo-porta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.texto-porta {
    width: 35%;
    text-align: initial;
}

.texto-porta h3 {
    color: #4185d0;
    margin:0 0 5px 0;
    font-size: 45px;
}

.texto-porta p {
    color: #89898a;
    margin: 0;
}

.texto-porta ul {
    padding: 0  0 0 20px;
    list-style: url("../img/check.png");
}

.texto-porta ul li p {
    color: #484848;
}

.img-porta {
    width: 45%;
    text-align: center;
}

.img-porta img {
    width: 90%;
}

.habilidades {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background: #eeeeee;
    overflow: hidden;
}

.triangulo {
    width: 100%;
    display: block;
    border-top: 120px solid white; 
    border-right: 100vw solid transparent;
}

.titulo-habi {
    width: 100%;
    text-align: center;
}

.titulo-habi h2 {
    font-size: 50px;
    color: #4185d0;
    margin: 0;
}

.titulo-habi p {
    font-size: 20px;
    color: #89898a;
    margin: 0;
}

.habilidad {
    background: white;
    width: 200px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 0 20px grey;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.habi-img {
    width: 70%;
}

.habi-text {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #89898a;
    margin: 0;
    font-size: 20px;
}

.pie {
    height: 280px;
    overflow: hidden;
    background: #eeeeee;
}

.footer {
    background: url('../img/fondo2.png');
    background-size: cover; 
    width: 100%;
    height: 400px;
    transform: skew(0, -4deg) translateY(60px);
    text-align: center;
}

.footer p {
    padding-top: 80px;
    transform: skew(0, 4deg);
    color: white;
    font-size: 30px;
}

@keyframes flotar{  
	25%{ transform:translateY(10px); }
    75%{ transform:translateY(-10px); }
	
}

@media screen and (min-width: 1180px){
    .base {
        margin-bottom: 40px;
        height: 250px;
    }
}

@media screen and (max-width: 1000px){
    .menu {
        font-size: 17px;
    }

    .menu ul {
        padding-inline-start: 10px;
    }

    .izq h1 {
        font-size: 40px;
    }

    .izq p {
        font-size: 25px;
    }

    .der img {
        width: 300px;
    }

    .yo{
        width: 200px !important;
        top: 150px;
    }

    .base {
        height: 360px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .foto {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .foto img{
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 860px){
    .contenedor {
        width: 90vw;
    }

    .barra {
        width: 90vw;
    }
}

@media screen and (max-width: 760px){
    .barra {
        width: 90vw;
    }
    
    .contenedor {
        width: 90vw;
        padding-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .izq {
        text-align: center;
    }

    .menu {
        display: none;
    }

    .hambur {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        padding: 15px;
        border-radius: 50%;
        box-shadow: 0 0 5px rgb(40, 5, 167);
        z-index: 30;
    }

    .hambur a{
        color: white;
        font-size: 30px;
    }

    .img-porta {
        width: 80%;
    }

    .texto-porta {
        width: 80%;
    }

    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width: 706px){
    .yo{
        width: 250px;
        top: 290px;
        left: calc(50% - 115px);
    }
}

@media screen and (max-width: 600px){
    .base {
        width: 100%;
    }

}

@media screen and (max-width: 375px){
    .titulo h2 {
        font-size: 32px;
    }

    .yo {
        top: 330px;
    }
}